nav {
	margin:0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 20vh; 
	background-color: #03396c;
	font-family: source sans pro, Helvetica, sans-serif;
	position: fixed;
	width: 100%;
	z-index: 9999;
	top:0;
}	

.title h1 {
	font-family: source sans pro, Helvetica, sans-serif;
		font-weight: bolder;
		font-size: 65px;
		letter-spacing: 7px;
		padding-top: 10px;
}

.title {
	color: white;
		letter-spacing: 7px;
	padding-left: 15px;
	line-height: 30px;
	padding-top: 10px;
}

.title p {
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 25px;
	font-style: italic;
	line-height: 35px;
	letter-spacing: 2px;
	font-weight: normal;

}

.nav-links {
	display: inline;
	width: 15%;
	text-align: right;
	padding-right: 10px;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 20px;
}


.nav-links a:hover {
	color: #9dcce7;
}


	
.main {
	
 text-align: center;
  z-index: 2;

}
.button {
	margin-top:160px;
	font-size: 30px;
	border: 2px solid #FFF;
 	padding: 10px;
 	text-decoration: none;
 	background-color: white;
 	cursor: pointer;
 	transition: background-color ease 400ms;
 	font-size: 25px;
 	font-weight: bold;
 	font-style: normal;
 	margin-bottom: 30px;
 
 

 }

.button a {
	color: #03396c;
}

@media only screen and (max-width: 895px) {
	.button {
		font-size: 15px;
		margin-top: 150px;
		
	}
	
}

@media only screen and (max-width: 580px) {
	.button {
		font-size: 14px;
		padding: 5px;
		margin-top: 180px;
	}

}
.button:hover {
 	color: #FFF;
 	background-color:#98BDD5;
 	box-shadow: 5px 5px #98BDD5;
 	transition: box-shadow 400ms;
 }

 a {
text-decoration: none;
 }
